.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  padding: 0 20px;

  .pageButton {
    padding: 10px 15px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-color);
    background: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.active {
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
  }

  .ellipsis {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--text-color);
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    padding: 10px;
    opacity: 0.5;
  }
}