:root {
  --primary-color: #3562FF;
  --background-color: #F8F9FD;
  --footer-background-color: #1F2B37;
  --accent-color: #E6ECFF;
  --text-color: #2E2E2E;
  --text-color-secondary: #767676;
  --text-color-footer: #fff;
  --font-family: 'Outfit', sans-serif;
  --logo-font-family: 'Overlock', sans-serif;
  --border-radius: 12px;
}